{
  "openapi": "3.1.0",
  "info": {
    "title": "Justo API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.service.getjusto.com/v3",
      "description": "Production server"
    }
  ],
  "paths": {
    "/tabs/{storeId}/shifts": {
      "get": {
        "summary": "List Shifts",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsShift"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}": {
      "get": {
        "summary": "Shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "description": "ID del turno o \"active\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsShift"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}/tabs": {
      "get": {
        "summary": "Tabs in shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "required": true,
            "description": "ID del turno o \"active\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTab"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}/tabs/{tabCounter}": {
      "get": {
        "summary": "Tab by counter at Shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "description": "ID del turno o \"active\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tabCounter",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsTab"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tabs/{tabId}": {
      "get": {
        "summary": "Tab",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tabId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsTab"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tabs": {
      "get": {
        "summary": "List tabs",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "description": "Filtro de búsqueda. Puede ser el número de cuenta o el id de la boleta."
            }
          },
          {
            "in": "query",
            "name": "shiftId",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "description": "Id del turno."
            }
          },
          {
            "in": "query",
            "name": "deliveryTypes",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "enum": [
                "go",
                "serve",
                "delivery"
              ],
              "description": "Tipos de entrega."
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTab"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{websiteId}/ingredients": {
      "get": {
        "summary": "Ingredients",
        "parameters": [
          {
            "in": "path",
            "name": "websiteId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsIngredient"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/current-inventory": {
      "get": {
        "summary": "Current inventory",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ingredientIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id de los ingredientes a consultar"
            }
          },
          {
            "in": "query",
            "name": "externalIngredientIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id externo de los ingredientes a consultar"
            }
          },
          {
            "in": "query",
            "name": "stockRoomIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id de las bodegas"
            }
          },
          {
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inventario"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsIngredientInventory"
                          },
                          "description": "Items de la lista."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/menu-costs": {
      "get": {
        "summary": "Costos de menu",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsProductCosts"
                          },
                          "description": "Items de la lista."
                        },
                        "modifiers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsModifierCosts"
                          },
                          "description": "Items de la lista."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{websiteId}/recipes": {
      "get": {
        "summary": "Recipes",
        "parameters": [
          {
            "in": "path",
            "name": "websiteId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsRecipe"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/accounting-movements/{accountingMovementId}": {
      "get": {
        "summary": "Accounting Movement",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountingMovementId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsAccountingMovement"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/accounting-movements": {
      "get": {
        "summary": "List accounting movements",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ingredientIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id de los ingredientes a consultar"
            }
          },
          {
            "in": "query",
            "name": "movementType",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "enum": [
                "inventory",
                "cashWithdrawals",
                "manual"
              ],
              "description": "Tipos de movimientos contables"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsAccountingMovement"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tab-payments": {
      "get": {
        "summary": "List tab payments",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTabPayment"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/audits": {
      "get": {
        "summary": "List audits",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date"
              ],
              "example": "date",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"date\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsAudit"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/audits/{auditId}": {
      "get": {
        "summary": "Get audit details",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "auditId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsAudit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/invoices": {
      "get": {
        "summary": "List invoices",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTabInvoice"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/invoices/{invoiceId}": {
      "get": {
        "summary": "Get invoice",
        "description": "Obtiene el detalle de una factura o documento tributario de PDV asociado al local indicado.",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsTabInvoice"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/payment-methods": {
      "get": {
        "summary": "List payment methods",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTabPaymentMethod"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/reports/compared-sales": {
      "get": {
        "summary": "Ventas comparadas",
        "description": "Compara una metrica de ventas entre el periodo actual y un periodo de referencia, entregando series para graficar la evolucion y la variacion. La data siempre queda limitada al website autorizado.",
        "parameters": [
          {
            "in": "query",
            "name": "dataKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "storesIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Identificador interno del resultado."
                        },
                        "keyCurrentValue": {
                          "type": "number",
                          "description": "Valor actual de la metrica comparada."
                        },
                        "keyComparedValue": {
                          "type": "number",
                          "description": "Valor de la metrica en el periodo comparado."
                        },
                        "valueFormatType": {
                          "type": "string",
                          "description": "Formato del valor: monto, porcentaje, conteo u otro."
                        },
                        "labels": {
                          "type": "array",
                          "description": "Etiquetas del eje.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "values": {
                          "type": "array",
                          "description": "Valores del periodo actual.",
                          "items": {
                            "type": "number"
                          }
                        },
                        "comparedValues": {
                          "type": "array",
                          "description": "Valores del periodo comparado.",
                          "items": {
                            "type": "number"
                          }
                        }
                      },
                      "required": [
                        "_id",
                        "keyCurrentValue",
                        "keyComparedValue",
                        "valueFormatType",
                        "labels",
                        "values",
                        "comparedValues"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/reports/sales-by-payment-method": {
      "get": {
        "summary": "Ventas por metodo de pago",
        "description": "Obtiene la base del reporte de ventas por metodo de pago para un local, pensada para analizar como se distribuyen los cobros. La data siempre queda limitada al website autorizado.",
        "parameters": [
          {
            "in": "query",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Identificador interno del resultado."
                        }
                      },
                      "required": [
                        "_id"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/reports/client-view": {
      "get": {
        "summary": "Vista de clientes",
        "description": "Compara el comportamiento de cuentas asociadas a clientes contra cuentas sin cliente identificado, incluyendo ticket, items y duracion. La data siempre queda limitada al website autorizado.",
        "parameters": [
          {
            "in": "query",
            "name": "fromDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "storeIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "object",
                          "properties": {
                            "tabsCount": {
                              "type": "number",
                              "description": "Cantidad de cuentas."
                            },
                            "averageTotalPrice": {
                              "type": "number",
                              "description": "Ticket promedio."
                            },
                            "medianTotalPrice": {
                              "type": "number",
                              "description": "Mediana del ticket."
                            },
                            "averageItemsCount": {
                              "type": "number",
                              "description": "Promedio de items."
                            },
                            "medianItemsCount": {
                              "type": "number",
                              "description": "Mediana de items."
                            },
                            "averageDuration": {
                              "type": "number",
                              "description": "Duracion promedio."
                            },
                            "medianDuration": {
                              "type": "number",
                              "description": "Mediana de duracion."
                            }
                          },
                          "required": [
                            "tabsCount",
                            "averageTotalPrice",
                            "medianTotalPrice",
                            "averageItemsCount",
                            "medianItemsCount",
                            "averageDuration",
                            "medianDuration"
                          ]
                        },
                        "clientView": {
                          "type": "object",
                          "properties": {
                            "tabsCount": {
                              "type": "number",
                              "description": "Cantidad de cuentas."
                            },
                            "averageTotalPrice": {
                              "type": "number",
                              "description": "Ticket promedio."
                            },
                            "medianTotalPrice": {
                              "type": "number",
                              "description": "Mediana del ticket."
                            },
                            "averageItemsCount": {
                              "type": "number",
                              "description": "Promedio de items."
                            },
                            "medianItemsCount": {
                              "type": "number",
                              "description": "Mediana de items."
                            },
                            "averageDuration": {
                              "type": "number",
                              "description": "Duracion promedio."
                            },
                            "medianDuration": {
                              "type": "number",
                              "description": "Mediana de duracion."
                            }
                          },
                          "required": [
                            "tabsCount",
                            "averageTotalPrice",
                            "medianTotalPrice",
                            "averageItemsCount",
                            "medianItemsCount",
                            "averageDuration",
                            "medianDuration"
                          ]
                        },
                        "nonClientView": {
                          "type": "object",
                          "properties": {
                            "tabsCount": {
                              "type": "number",
                              "description": "Cantidad de cuentas."
                            },
                            "averageTotalPrice": {
                              "type": "number",
                              "description": "Ticket promedio."
                            },
                            "medianTotalPrice": {
                              "type": "number",
                              "description": "Mediana del ticket."
                            },
                            "averageItemsCount": {
                              "type": "number",
                              "description": "Promedio de items."
                            },
                            "medianItemsCount": {
                              "type": "number",
                              "description": "Mediana de items."
                            },
                            "averageDuration": {
                              "type": "number",
                              "description": "Duracion promedio."
                            },
                            "medianDuration": {
                              "type": "number",
                              "description": "Mediana de duracion."
                            }
                          },
                          "required": [
                            "tabsCount",
                            "averageTotalPrice",
                            "medianTotalPrice",
                            "averageItemsCount",
                            "medianItemsCount",
                            "averageDuration",
                            "medianDuration"
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "clientView",
                        "nonClientView"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/reports/product-sales": {
      "get": {
        "summary": "Venta de productos",
        "description": "Lista ventas agregadas por producto y categoria, con cantidades, montos y variacion contra el periodo anterior. La data siempre queda limitada al website autorizado.",
        "parameters": [
          {
            "in": "query",
            "name": "fromDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "storeId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "storesIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "deliveryTypes",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "sources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "productCategoryIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "includeSubcategoriesOnCategories",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Identificador interno del resultado."
                        },
                        "productSales": {
                          "type": "array",
                          "description": "Ventas agregadas por producto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "productId": {
                                "type": "string",
                                "description": "ID del producto."
                              },
                              "productName": {
                                "type": "string",
                                "description": "Nombre del producto."
                              },
                              "categoryName": {
                                "type": "string",
                                "description": "Nombre de la categoria."
                              },
                              "categoryId": {
                                "type": "string",
                                "description": "ID de la categoria."
                              },
                              "productPrice": {
                                "type": "number",
                                "description": "Precio unitario."
                              },
                              "totalAmount": {
                                "type": "number",
                                "description": "Cantidad vendida."
                              },
                              "totalPrice": {
                                "type": "number",
                                "description": "Total vendido."
                              },
                              "previousPeriodVariation": {
                                "type": "number",
                                "description": "Variacion contra el periodo anterior."
                              }
                            },
                            "required": [
                              "productId",
                              "productName",
                              "categoryName",
                              "categoryId",
                              "productPrice",
                              "totalAmount",
                              "totalPrice",
                              "previousPeriodVariation"
                            ]
                          }
                        },
                        "categorySales": {
                          "type": "array",
                          "description": "Ventas agregadas por categoria.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categoryId": {
                                "type": "string",
                                "description": "ID de la categoria."
                              },
                              "categoryName": {
                                "type": "string",
                                "description": "Nombre de la categoria."
                              },
                              "totalAmount": {
                                "type": "number",
                                "description": "Cantidad vendida."
                              },
                              "totalPrice": {
                                "type": "number",
                                "description": "Total vendido."
                              },
                              "previousPeriodVariation": {
                                "type": "number",
                                "description": "Variacion contra el periodo anterior."
                              },
                              "subCategories": {
                                "type": "array",
                                "description": "Subcategorias incluidas en la categoria.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "categoryId": {
                                      "type": "string",
                                      "description": "ID de la subcategoria."
                                    },
                                    "categoryName": {
                                      "type": "string",
                                      "description": "Nombre de la subcategoria."
                                    },
                                    "totalAmount": {
                                      "type": "number",
                                      "description": "Cantidad vendida."
                                    },
                                    "totalPrice": {
                                      "type": "number",
                                      "description": "Total vendido."
                                    },
                                    "previousPeriodVariation": {
                                      "type": "number",
                                      "description": "Variacion contra el periodo anterior."
                                    }
                                  },
                                  "required": [
                                    "categoryId",
                                    "categoryName",
                                    "totalAmount",
                                    "totalPrice",
                                    "previousPeriodVariation"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "categoryId",
                              "categoryName",
                              "totalAmount",
                              "totalPrice",
                              "previousPeriodVariation",
                              "subCategories"
                            ]
                          }
                        }
                      },
                      "required": [
                        "_id",
                        "productSales",
                        "categorySales"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/reports/sales-divided": {
      "get": {
        "summary": "Ventas divididas",
        "description": "Divide las ventas por dimensiones solicitadas como canal, local, fuente u otros criterios, con totales por periodo. La data siempre queda limitada al website autorizado.",
        "parameters": [
          {
            "in": "query",
            "name": "fromDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "divideBy",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "periodType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "storesIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "deliveryTypes",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "sources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "considerDeliveryFee",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "useNetValues",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Identificador interno del resultado."
                        },
                        "dividers": {
                          "type": "object",
                          "description": "Definicion dinamica de divisores del reporte.",
                          "additionalProperties": {}
                        },
                        "periods": {
                          "type": "array",
                          "description": "Periodos del reporte.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number",
                                "description": "Total del periodo."
                              },
                              "divided": {
                                "type": "object",
                                "description": "Valores por cada divisor solicitado.",
                                "additionalProperties": {
                                  "type": "number"
                                }
                              },
                              "fromDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Inicio del periodo."
                              },
                              "toDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Fin del periodo."
                              }
                            },
                            "required": [
                              "total",
                              "divided",
                              "fromDate",
                              "toDate"
                            ]
                          }
                        },
                        "total": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number",
                              "description": "Total del periodo."
                            },
                            "divided": {
                              "type": "object",
                              "description": "Valores por cada divisor solicitado.",
                              "additionalProperties": {
                                "type": "number"
                              }
                            },
                            "fromDate": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Inicio del periodo."
                            },
                            "toDate": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Fin del periodo."
                            }
                          },
                          "required": [
                            "total",
                            "divided",
                            "fromDate",
                            "toDate"
                          ]
                        }
                      },
                      "required": [
                        "_id",
                        "dividers",
                        "periods",
                        "total"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/reports/sales-resume": {
      "get": {
        "summary": "Resumen de ventas",
        "description": "Entrega un resumen ejecutivo de ventas: totales, ticket promedio, descuentos, propinas, canales, locales, productos e impuestos. La data siempre queda limitada al website autorizado.",
        "parameters": [
          {
            "in": "query",
            "name": "storesIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "period",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "deliveryTypes",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "sources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "considerDeliveryFee",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "useExactDates",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
[...]
