{
  "openapi": "3.1.0",
  "info": {
    "title": "Justo API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.service.getjusto.com/v3",
      "description": "Production server"
    }
  ],
  "paths": {
    "/tabs/{storeId}/shifts": {
      "get": {
        "summary": "List Shifts",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsShift"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}": {
      "get": {
        "summary": "Shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "description": "ID del turno o \"active\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsShift"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}/tabs": {
      "get": {
        "summary": "Tabs in shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "required": true,
            "description": "ID del turno o \"active\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTab"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}/tabs/{tabCounter}": {
      "get": {
        "summary": "Tab by counter at Shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "description": "ID del turno o \"active\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tabCounter",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsTab"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tabs/{tabId}": {
      "get": {
        "summary": "Tab",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tabId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsTab"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tabs": {
      "get": {
        "summary": "List tabs",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "description": "Filtro de búsqueda. Puede ser el número de cuenta o el id de la boleta."
            }
          },
          {
            "in": "query",
            "name": "shiftId",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "description": "Id del turno."
            }
          },
          {
            "in": "query",
            "name": "deliveryTypes",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "enum": [
                "go",
                "serve",
                "delivery"
              ],
              "description": "Tipos de entrega."
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTab"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{websiteId}/ingredients": {
      "get": {
        "summary": "Ingredients",
        "parameters": [
          {
            "in": "path",
            "name": "websiteId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsIngredient"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/current-inventory": {
      "get": {
        "summary": "Current inventory",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ingredientIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id de los ingredientes a consultar"
            }
          },
          {
            "in": "query",
            "name": "externalIngredientIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id externo de los ingredientes a consultar"
            }
          },
          {
            "in": "query",
            "name": "stockRoomIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id de las bodegas"
            }
          },
          {
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inventario"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsIngredientInventory"
                          },
                          "description": "Items de la lista."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/menu-costs": {
      "get": {
        "summary": "Costos de menu",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsProductCosts"
                          },
                          "description": "Items de la lista."
                        },
                        "modifiers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsModifierCosts"
                          },
                          "description": "Items de la lista."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/accounting-movements/{accountingMovementId}": {
      "get": {
        "summary": "Accounting Movement",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountingMovementId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsAccountingMovement"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/accounting-movements": {
      "get": {
        "summary": "List accounting movements",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ingredientIds",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Id de los ingredientes a consultar"
            }
          },
          {
            "in": "query",
            "name": "movementType",
            "required": false,
            "schema": {
              "type": "string",
              "example": "name",
              "enum": [
                "inventory",
                "cashWithdrawals",
                "manual"
              ],
              "description": "Tipos de movimientos contables"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsAccountingMovement"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tab-payments": {
      "get": {
        "summary": "List tab payments",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTabPayment"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/audits": {
      "get": {
        "summary": "List audits",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "date"
              ],
              "example": "date",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"date\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsAudit"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/audits/{auditId}": {
      "get": {
        "summary": "Get audit details",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "auditId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/tabsAudit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/invoices": {
      "get": {
        "summary": "List invoices",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de inicio de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01T00:00:00.000Z",
              "format": "date-time",
              "description": "Fecha de fin de la búsqueda."
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTabInvoice"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/payment-methods": {
      "get": {
        "summary": "List payment methods",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1,
              "description": "Número de página."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "example": 10,
              "description": "Número de items por página. Max 100. Por defecto: 10."
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ],
              "example": "createdAt",
              "description": "Campo por el cual se ordenará la lista. Por defecto: \"createdAt\"."
            }
          },
          {
            "in": "query",
            "name": "sortType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "description": "Tipo de ordenamiento."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/tabsTabPaymentMethod"
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "summary": "Token info",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/apiAuthorizationStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reservations/reservation": {
      "post": {
        "summary": "Crear reserva",
        "requestBody": {
          "description": "Crea una nueva reserva",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": {
                    "type": "string",
                    "example": "123",
                    "description": "ID del local"
                  },
                  "startsAt": {
                    "type": "string",
                    "example": "2020-01-01T00:00:00.000Z",
                    "format": "date-time",
                    "description": "Fecha de inicio de la reserva"
                  },
                  "partySize": {
                    "type": "number",
                    "example": 2,
                    "description": "Tamaño de la reserva"
                  },
                  "sectorId": {
                    "type": "string",
                    "example": "123",
                    "description": "ID del sector"
                  },
                  "clientData": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "example": "juanperez@gmail.com",
                        "description": "Email del cliente"
                      },
                      "phone": {
                        "type": "string",
                        "example": "+573178901234",
                        "description": "Teléfono del cliente"
                      },
                      "firstName": {
                        "type": "string",
                        "example": "Juan",
                        "description": "Nombre del cliente"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Perez",
                        "description": "Apellido del cliente"
                      }
                    }
                  },
                  "specialRequests": {
                    "type": "string",
                    "example": "Quiero una mesa cerca de la puerta",
                    "description": "Peticiones especiales"
                  },
                  "specialOcassion": {
                    "type": "string",
                    "example": "birthday",
                    "enum": [
                      "birthday",
                      "anniversary",
                      "date",
                      "business",
                      "celebration"
                    ],
                    "description": "¿Es una ocasión especial?"
                  },
                  "tableIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "123",
                      "description": "IDs de las mesas"
                    }
                  }
                },
                "required": [
                  "storeId",
                  "startsAt",
                  "partySize",
                  "clientData"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/reservationsReservation",
                      "description": "Reserva creada"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reservations/reservation/{reservationId}": {
      "get": {
        "summary": "Obtener reserva",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^res-[a-zA-Z0-9]+$",
              "description": "Identificador único de reserva",
              "example": "res-abc123def456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/reservationsReservation",
                      "description": "Reserva obtenida"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Actualizar reserva",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^res-[a-zA-Z0-9]+$",
              "description": "Identificador único de reserva",
              "example": "res-abc123def456"
            }
          }
        ],
        "requestBody": {
          "description": "Actualiza una reserva",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startsAt": {
                    "type": "string",
                    "example": "2020-01-01T00:00:00.000Z",
                    "format": "date-time",
                    "description": "Fecha de inicio de la reserva"
                  },
                  "partySize": {
                    "type": "number",
                    "example": 2,
                    "description": "Tamaño de la reserva"
                  },
                  "specialRequests": {
                    "type": "string",
                    "example": "Quiero una mesa cerca de la puerta",
                    "description": "Peticiones especiales"
                  },
                  "specialOcassion": {
                    "type": "string",
                    "example": "birthday",
                    "enum": [
                      "birthday",
                      "anniversary",
                      "date",
                      "business",
                      "celebration"
                    ],
                    "description": "¿Es una ocasión especial?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/reservationsReservation",
                      "description": "Reserva actualizada"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Eliminar reserva",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^res-[a-zA-Z0-9]+$",
              "description": "Identificador único de reserva",
              "example": "res-abc123def456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/reservationsReservation",
                      "description": "Reserva eliminada"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/royalty/coins-redeem-codes/{coinsRedeemCodeId}": {
      "get": {
        "summary": "Redeem Code",
        "parameters": [
          {
            "in": "path",
            "name": "coinsRedeemCodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/royaltyCoinsRedeemCode"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Redeem Code",
        "parameters": [
          {
            "in": "path",
            "name": "coinsRedeemCodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/royaltyCoinsRedeemCode"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/royalty/coins-redeem-codes": {
      "post": {
        "summary": "Redeem Code",
        "requestBody": {
          "description": "Redeem Code Payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Promo 1",
                    "description": "Descripción del código"
                  },
                  "code": {
                    "type": "string",
                    "example": "CJXEQZK",
                    "description": "El código para redimir"
                  },
                  "amount": {
                    "type": "number",
                    "example": 100,
                    "description": "Monto del código"
                  },
                  "expirationDate": {
                    "type": "string",
                    "example": "2020-01-01T00:00:00.000Z",
                    "format": "date-time",
                    "description": "Fecha de expiración del código"
                  }
                },
                "required": [
                  "description",
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/royaltyCoinsRedeemCode"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/royalty/clients-loyalty-balance": {
      "get": {
        "summary": "Get Clients Loyalty Balance",
        "description": "Obtiene una lista paginada de los balances de lealtad de los clientes",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "Número de página a obtener"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "description": "Cantidad de elementos por página"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "clientId": {
                                "type": "string",
                                "example": "crd-client-001",
                                "description": "El ID del cliente"
                              },
                              "justoUserId": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "example": "usr-001",
                                "description": "El ID del usuario de Justo asociado al cliente, si existe"
                              },
                              "balance": {
                                "type": "number",
                                "example": 150,
                                "description": "El balance actual de puntos de lealtad del cliente"
                              }
                            },
                            "required": [
                              "clientId",
                              "justoUserId",
                              "balance"
                            ]
                          },
                          "description": "Items de la lista."
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página siguiente."
                        },
                        "hasPreviousPage": {
                          "type": "boolean",
                          "description": "Indica si hay una página anterior."
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total de páginas."
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total de items."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "admin"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "tabsTab": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "tab-4c48bf33-1411-4c3f-adac-db39b4631cb8",
            "description": "El ID de la cuenta."
          },
          "code": {
            "type": "string",
            "example": "CJXEQZK",
            "description": "Un código único para identificar la cuenta. Es único en Crisp."
          },
          "description": {
            "type": "string",
            "example": "Justo C#16699-02",
            "description": "El nombre de la cuenta visible para operadores."
          },
          "comments": {
            "type": "string",
            "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "description": "Comentarios de la cuenta."
          },
          "websiteId": {
            "type": "string",
            "example": "ErCkmcyCEovseJq5E",
            "description": "El ID de la marca al que pertenece la cuenta."
          },
          "storeId": {
            "type": "string",
            "example": "Li4eEa3W2hiuGGCFa",
            "description": "El ID de la tienda al que pertenece la cuenta."
          },
          "shiftId": {
            "type": "string",
            "example": "tsft-b6fda21f-b638-428b-a785-849fdbe3fe0b",
            "description": "El ID del turno al que pertenece la cuenta."
          },
          "tabCounter": {
            "type": "number",
            "example": 1,
            "description": "El número de la cuenta en el turno. Único en el turno."
          },
          "createdById": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
            "description": "El ID del usuario que creó la cuenta."
          },
          "operatorUserId": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
            "description": "El ID del mesero/operador de la cuenta."
          },
          "driverUserId": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
            "description": "El ID del repartidor de la cuenta."
          },
          "createdAtDeviceId": {
            "type": "string",
            "example": "W2hiuGGLa3W2hW2hiuGGLiuGGLWW2hiuGGL2hiuGGLW2hiuGGLi4eECFa",
            "description": "El ID del dispositivo desde donde se creó la cuenta."
          },
          "countryCode": {
            "type": "string",
            "description": "Código de país ISO 3166-1 alpha-2",
            "example": "CL",
            "enum": [
              "CL",
              "MX",
              "PE",
              "CO",
              "EC",
              "CR",
              "AR"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha de creación de la cuenta."
          },
          "closedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha de cierre de la cuenta."
          },
          "deletedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que se eliminó la cuenta."
          },
          "cancelledAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha de cancelación de la cuenta."
          },
          "cancellationPrompt": {
            "type": "string",
            "example": "El pedido fue cancelado por el cliente.",
            "description": "Si es que el pedido se canceló desde un canal de ventas despues de que el pedido fue aceptado, muestra este mensaje al usuario."
          },
          "tableIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs de las mesas asociadas a la cuenta."
          },
          "tableNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Nombres de las mesas asociadas a la cuenta."
          },
          "sectorIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs de los sectores de las mesas asociadas a la cuenta."
          },
          "reservationId": {
            "type": "string",
            "description": "ID de la reserva asociada a la cuenta."
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "refunded",
              "partiallyPaid"
            ]
          },
          "statusLabel": {
            "type": "string",
            "description": "Estado de la cuenta."
          },
          "statusLabelForClient": {
            "type": "string",
            "description": "Estado de la cuenta visible para el cliente."
          },
          "totalPrice": {
            "type": "number",
            "description": "Precio total de la cuenta."
          },
          "totalNetPrice": {
            "type": "number",
            "description": "Precio neto total de la cuenta."
          },
          "totalTaxPrice": {
            "type": "number",
            "description": "Precio total de impuestos de la cuenta."
          },
          "totalPriceBeforeDiscounts": {
            "type": "number",
            "description": "Precio total de la cuenta antes de descuentos."
          },
          "discountsAmount": {
            "type": "number",
            "description": "Precio total de descuentos de la cuenta."
          },
          "amountPaid": {
            "type": "number",
            "description": "Monto pagado de la cuenta."
          },
          "amountDue": {
            "type": "number",
            "description": "Monto pendiente de la cuenta."
          },
          "tipAmountPaid": {
            "type": "number",
            "description": "Monto de propina pagada de la cuenta."
          },
          "netTipAmountPaid": {
            "type": "number",
            "description": "Monto neto de propina pagada de la cuenta."
          },
          "taxTipAmountPaid": {
            "type": "number",
            "description": "Monto de impuestos de propina pagada de la cuenta."
          },
          "mustBeReadyAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que el pedido debe estar listo."
          },
          "mustBeDeliveredAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que el pedido debe ser entregado al cliente."
          },
          "readyToPickupAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que el pedido estará listo para ser retirado."
          },
          "activatesAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que la cuenta se activa."
          },
          "source": {
            "type": "string",
            "description": "Origen de la cuenta.",
            "enum": [
              "pos",
              "totem",
              "clientView",
              "messenger",
              "justo",
              "pedidosya",
              "rappi",
              "ubereats",
              "custom",
              "paymentDeviceTransaction",
              "ordatic",
              "hubster",
              "didifood"
            ]
          },
          "salesChannelConfigId": {
            "type": "string",
            "description": "ID de la configuración del canal de ventas."
          },
          "channelName": {
            "type": "string",
            "description": "Nombre del canal de ventas."
          },
          "clientData": {
            "type": "object",
            "description": "Datos del cliente.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nombre del cliente."
              },
              "email": {
                "type": "string",
                "description": "Email del cliente."
              },
              "phone": {
                "type": "string",
                "description": "Teléfono del cliente."
              },
              "addressLine1": {
                "type": "string",
                "description": "Dirección del cliente."
              },
              "addressLine2": {
                "type": "string",
                "description": "Departamento, edificio, etc."
              },
              "addressExtra": {
                "type": "string",
                "description": "Ciudad, pais, etc."
              }
            }
          },
          "integrationClientId": {
            "type": "string",
            "description": "ID del cliente en el canal de ventas."
          },
          "deliveryType": {
            "type": "string",
            "description": "Tipo de entrega.",
            "enum": [
              "delivery",
              "go",
              "serve"
            ]
          },
          "hasExternalDeliveryProvider": {
            "type": "boolean",
            "description": "Si es que la cuenta tiene un proveedor de delivery externo. Por ejemplo Justo, Rappi, etc."
          },
          "generateInvoiceAtClose": {
            "type": "boolean",
            "description": "Si es que se debe generar una factura al cerrar la cuenta."
          },
          "integrationOrderId": {
            "type": "string",
            "description": "ID del pedido en el canal de ventas."
          },
          "integrationIsPending": {
            "type": "boolean",
            "description": "Si es que el pedido está pendiente de aceptar en el canal de ventas."
          },
          "integrationComments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Comentarios del pedido en el canal de ventas."
          },
          "eaterLabels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas de comensales."
          },
          "externalInvoiceId": {
            "type": "string",
            "description": "ID de la factura externa."
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tabsTabPayment"
            },
            "description": "Pagos de la cuenta."
          },
          "invoices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tabsTabInvoice"
            },
            "description": "Facturas de la cuenta."
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tabsTabDiscount"
            },
            "description": "Descuentos de la cuenta."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tabsTabItem"
            },
            "description": "Items de la cuenta."
          }
        }
      },
      "tabsShift": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Shift ID"
          },
          "websiteId": {
            "type": "string",
            "description": "ID de la marca"
          },
          "storeId": {
            "type": "string",
            "description": "ID del local"
          },
          "startedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que empezó el turno"
          },
          "endedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que terminó el turno"
          },
          "createdById": {
            "type": "string",
            "description": "ID del usuario que abrió el turno"
          },
          "closedTabsTotalSales": {
            "type": "number",
            "example": 2,
            "description": "Total de ventas de los tabs cerrados"
          },
          "discountsAmount": {
            "type": "number",
            "example": 2,
            "description": "Total de descuentos"
          },
          "avgTicket": {
            "type": "number",
            "example": 2,
            "description": "Promedio de ticket"
          },
          "eatersCount": {
            "type": "number",
            "example": 2,
            "description": "Cantidad de comensales"
          },
          "totalPayments": {
            "type": "number",
            "example": 2,
            "description": "Total de pagos"
          },
          "cashRegisterShifts": {
            "type": "array",
            "description": "Turnos de la caja",
            "items": {
              "type": "object",
              "description": "Turnos de caja",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "cashRegisterId": {
                  "type": "string"
                },
                "startedAt": {
                  "type": "string",
                  "example": "2020-01-01T00:00:00.000Z",
                  "format": "date-time"
                },
                "endedAt": {
                  "type": "string",
                  "example": "2020-01-01T00:00:00.000Z",
                  "format": "date-time"
                },
                "startBalances": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/tabsShiftCashregisterBalance"
                  }
                },
                "endBalances": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/tabsShiftCashregisterBalance"
                  }
                }
              }
            }
          }
        }
      },
      "tabsShiftCashregisterBalance": {
        "type": "object",
        "properties": {
          "paymentMethodId": {
            "type": "string",
            "description": "ID del método de pago"
          },
          "balance": {
            "type": "number",
            "description": "Balance de la caja"
          }
        }
      },
      "tabsTabPayment": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "tab-4c48bf33-1411-4c3f-adac-db39b4631cb8",
            "description": "El ID del pago."
          },
          "code": {
            "type": "string",
            "example": "CJXEQZK",
            "description": "Un código único para identificar el pago. Es único en Crisp."
          },
          "shiftId": {
            "type": "string",
            "example": "Li4eEa3W2hiuGGCFa",
            "description": "El ID del turno al que pertenece el pago."
          },
          "paymentMethodId": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
[...]
