{
  "openapi": "3.1.0",
  "info": {
    "title": "Justo API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.service.getjusto.com/v3",
      "description": "Production server"
    }
  ],
  "paths": {
    "/tabs/{storeId}/shifts/active": {
      "get": {
        "summary": "Active Shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/tabsShift"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/shifts/{shiftId}": {
      "get": {
        "summary": "Shift",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shiftId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/tabsShift"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tabs/{storeId}/tabs/{tabId}": {
      "get": {
        "summary": "Tab",
        "parameters": [
          {
            "in": "path",
            "name": "storeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tabId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/tabsTab"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "summary": "Token info",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The OpenAPI spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/apiAuthorizationStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": "false"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "error"
                        },
                        "message": {
                          "type": "string",
                          "example": "The request has an error"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "tabsTab": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "tab-4c48bf33-1411-4c3f-adac-db39b4631cb8",
            "description": "El ID de la cuenta."
          },
          "code": {
            "type": "string",
            "example": "CJXEQZK",
            "description": "Un código único para identificar la cuenta. Es único en Crisp."
          },
          "description": {
            "type": "string",
            "example": "Justo C#16699-02",
            "description": "El nombre de la cuenta visible para operadores."
          },
          "comments": {
            "type": "string",
            "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "description": "Comentarios de la cuenta."
          },
          "websiteId": {
            "type": "string",
            "example": "ErCkmcyCEovseJq5E",
            "description": "El ID de la marca al que pertenece la cuenta."
          },
          "storeId": {
            "type": "string",
            "example": "Li4eEa3W2hiuGGCFa",
            "description": "El ID de la tienda al que pertenece la cuenta."
          },
          "createdById": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
            "description": "El ID del usuario que creó la cuenta."
          },
          "operatorUserId": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
            "description": "El ID del mesero/operador de la cuenta."
          },
          "driverUserId": {
            "type": "string",
            "example": "a3W2hiuGGLi4eECFa",
            "description": "El ID del repartidor de la cuenta."
          },
          "createdAtDeviceId": {
            "type": "string",
            "example": "W2hiuGGLa3W2hW2hiuGGLiuGGLWW2hiuGGL2hiuGGLW2hiuGGLi4eECFa",
            "description": "El ID del dispositivo desde donde se creó la cuenta."
          },
          "countryCode": {
            "type": "string",
            "description": "Código de país ISO 3166-1 alpha-2",
            "example": "CL",
            "enum": [
              "CL",
              "MX",
              "PE",
              "CO",
              "EC",
              "CR",
              "AR"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha de creación de la cuenta."
          },
          "closedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha de cierre de la cuenta."
          },
          "deletedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que se eliminó la cuenta."
          },
          "cancelledAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha de cancelación de la cuenta."
          },
          "cancellationPrompt": {
            "type": "string",
            "example": "El pedido fue cancelado por el cliente.",
            "description": "Si es que el pedido se canceló desde un canal de ventas despues de que el pedido fue aceptado, muestra este mensaje al usuario."
          },
          "tableIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs de las mesas asociadas a la cuenta."
          },
          "reservationId": {
            "type": "string",
            "description": "ID de la reserva asociada a la cuenta."
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "refunded",
              "partiallyPaid"
            ]
          },
          "totalPrice": {
            "type": "number",
            "description": "Precio total de la cuenta."
          },
          "totalNetPrice": {
            "type": "number",
            "description": "Precio neto total de la cuenta."
          },
          "totalTaxPrice": {
            "type": "number",
            "description": "Precio total de impuestos de la cuenta."
          },
          "totalPriceBeforeDiscounts": {
            "type": "number",
            "description": "Precio total de la cuenta antes de descuentos."
          },
          "discountsAmount": {
            "type": "number",
            "description": "Precio total de descuentos de la cuenta."
          },
          "amountPaid": {
            "type": "number",
            "description": "Monto pagado de la cuenta."
          },
          "amountDue": {
            "type": "number",
            "description": "Monto pendiente de la cuenta."
          },
          "tipAmountPaid": {
            "type": "number",
            "description": "Monto de propina pagada de la cuenta."
          },
          "netTipAmountPaid": {
            "type": "number",
            "description": "Monto neto de propina pagada de la cuenta."
          },
          "taxTipAmountPaid": {
            "type": "number",
            "description": "Monto de impuestos de propina pagada de la cuenta."
          },
          "mustBeReadyAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que el pedido debe estar listo."
          },
          "mustBeDeliveredAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que el pedido debe ser entregado al cliente."
          },
          "readyToPickupAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que el pedido estará listo para ser retirado."
          },
          "activatesAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que la cuenta se activa."
          },
          "source": {
            "type": "string",
            "description": "Origen de la cuenta.",
            "enum": [
              "pos",
              "justo",
              "pedidosya",
              "rappi",
              "ubereats",
              "custom",
              "ordatic",
              "hubster"
            ]
          },
          "salesChannelConfigId": {
            "type": "string",
            "description": "ID de la configuración del canal de ventas."
          },
          "channelName": {
            "type": "string",
            "description": "Nombre del canal de ventas."
          },
          "clientData": {
            "type": "object",
            "description": "Datos del cliente.",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nombre del cliente."
              },
              "email": {
                "type": "string",
                "description": "Email del cliente."
              },
              "phone": {
                "type": "string",
                "description": "Teléfono del cliente."
              },
              "addressLine1": {
                "type": "string",
                "description": "Dirección del cliente."
              },
              "addressLine2": {
                "type": "string",
                "description": "Departamento, edificio, etc."
              },
              "addressExtra": {
                "type": "string",
                "description": "Ciudad, pais, etc."
              }
            }
          },
          "integrationClientId": {
            "type": "string",
            "description": "ID del cliente en el canal de ventas."
          },
          "deliveryType": {
            "type": "string",
            "description": "Tipo de entrega.",
            "enum": [
              "delivery",
              "go",
              "serve"
            ]
          },
          "hasExternalDeliveryProvider": {
            "type": "boolean",
            "description": "Si es que la cuenta tiene un proveedor de delivery externo. Por ejemplo Justo, Rappi, etc."
          },
          "generateInvoiceAtClose": {
            "type": "boolean",
            "description": "Si es que se debe generar una factura al cerrar la cuenta."
          },
          "integrationOrderId": {
            "type": "string",
            "description": "ID del pedido en el canal de ventas."
          },
          "integrationIsPending": {
            "type": "boolean",
            "description": "Si es que el pedido está pendiente de aceptar en el canal de ventas."
          },
          "integrationComments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Comentarios del pedido en el canal de ventas."
          },
          "eaterLabels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas de comensales."
          },
          "externalInvoiceId": {
            "type": "string",
            "description": "ID de la factura externa."
          }
        }
      },
      "tabsShift": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Shift ID"
          },
          "websiteId": {
            "type": "string",
            "description": "ID de la marca"
          },
          "storeId": {
            "type": "string",
            "description": "ID del local"
          },
          "startedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que empezó el turno"
          },
          "endedAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00.000Z",
            "format": "date-time",
            "description": "Fecha en que terminó el turno"
          },
          "createdById": {
            "type": "string",
            "description": "ID del usuario que abrió el turno"
          }
        }
      },
      "apiAuthorizationStatus": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "admin"
              ]
            }
          },
          "website": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "example": "Orion Burger"
              },
              "url": {
                "type": "string"
              },
              "countryCode": {
                "type": "string",
                "enum": [
                  "CL",
                  "MX",
                  "PE",
                  "CO",
                  "EC",
                  "CR",
                  "AR"
                ],
                "example": "CL"
              },
              "timezone": {
                "type": "string",
                "example": "America/Santiago"
              },
              "logoURL": {
                "type": "string",
                "example": "https://cdn.getjusto.com/images/website/logo.png"
              }
            }
          },
          "stores": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "example": "Providencia"
                },
                "timezone": {
                  "type": "string",
                  "example": "America/Santiago"
                }
              }
            }
          }
        }
      }
    }
  }
}